<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= typeof title == "undefined" ? "Home" : title  %></title>

    <link rel="stylesheet" href="<%= request.mainURL %>/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= request.mainURL %>/static/@fortawesome/fontawesome-free/css/fontawesome.min.css" >
</head>
<body>
    <input type="hidden" id="base-url" value="<%= request.mainURL %>">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="<%= request.mainURL %>">
            File Sharer
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="<%= request.mainURL %>">
                        Home <span class="sr-only"> (current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="<%= request.mainURL %>/MyUploads"> 
                        My Uploads
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="<%= request.mainURL %>/SharedWithMe">
                        Shared with me
                    </a>
                </li>

                <% if (request.isLogin) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <%= request.session.user.name %>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="<%= request.mainURL %>/Log out">
                                Log out
                            </a>
                        </div>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<% request.mainURL %>/Login">
                            Login
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="<%= request.mainURL %>/Register">
                            Register
                        </a>
                    </li>
                <% } %>
                
            </ul>
        </div>
    </nav>